{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "env": {
    "node": true,
    "browser": true
  },
  "extends": ["airbnb", "airbnb/hooks", "prettier", "prettier/react"],
  "plugins": ["prettier", "pug"],
  "rules": {
    "consistent-return": ["off"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/prefer-default-export": ["off"],
    "no-console": ["error"],
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["state"] }],
    "no-unused-vars": ["warn"]
  },
  "settings": {
    "import/resolver": {
      "node": {},
      "webpack": {}
    }
  }
}
